<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科学解释小组讨论工具</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <!--<link rel='stylesheet' href='/stylesheets/responsive-nav.css'/>-->
    <link rel='stylesheet' href='/stylesheets/perfect-scrollbar.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/jquery-3.4.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!--<script src="javascripts/responsive-nav.js"></script>-->
    <script src="javascripts/perfect-scrollbar.js"></script>
    <script src="javascripts/main.js"></script>

</head>
<body>


<div class="navbar navbar-expand-lg bg-dark2">
    <h4 class="topalign">科学解释讨论工具</h4>
    <h5 class="topname">欢迎您，</h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5" style="padding-left: 0">
            <iframe src="html/balancing-act_zh_CN.html" width=100% height=600px scrolling="no" allowfullscreen></iframe>
        </div>
        <div class="col-md-5">
            <div class="chat">
                <div class="chat-header">
                    <div class="chat-header-user">
                        <h2 style="color: #495057; line-height: 2.5; text-align: center">第XXX讨论组</h2>
                    </div>
                </div>
                <div class="chat-body" id="toscroll">
                    <div class="messages">
                        <div class="message-mine">
                            <div class="message-time">这里是我的id</div>
                            <div class="message-content">
                                你好！这里是我的讨论内容。你好！这里是我的讨论内容。你好！这里是我的讨论内容。你好！这里是我的讨论内容。
                            </div>
                        </div>
                        <div class="message-others">
                            <div class="message-time">这里是他人的id</div>
                            <div class="message-content">
                                这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！
                            </div>
                        </div>
                        <div class="message-others">
                            <div class="message-time">这里是他人的id</div>
                            <div class="message-content">
                                这里是别人的讨论内容。
                            </div>
                        </div>
                        <div class="message-mine">
                            <div class="message-time">这里是我的id</div>
                            <div class="message-content">
                                你好！这里是我的讨论内容。你好！这里是我的讨论内容。
                            </div>
                        </div>
                        <div class="message-mine">
                            <div class="message-time">这里是我的id</div>
                            <div class="message-content">
                                你好！这里是我的讨论内容。你好！这里是我的讨论内容。你好！这里是我的讨论内容。你好！这里是我的讨论内容。
                            </div>
                        </div>
                        <div class="message-others">
                            <div class="message-time">这里是他人的id</div>
                            <div class="message-content">
                                这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！
                            </div>
                        </div>
                        <div class="message-others">
                            <div class="message-time">这里是他人的id</div>
                            <div class="message-content">
                                这里是别人的讨论内容。
                            </div>
                        </div>
                        <div class="message-mine">
                            <div class="message-time">这里是我的id</div>
                            <div class="message-content">
                                你好！这里是我的讨论内容。你好！这里是我的讨论内容。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-footer">
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">发表观点</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"
                                         x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">赞成</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2"
                                         x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a class="dropdown-item dp-green" href="#">Dropdown</a>
                                        <a class="dropdown-item dp-green" href="#">Dropdown</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop3" type="button" class="btn btn-danger dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">反驳</button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3"
                                         x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a class="dropdown-item dp-red" href="#">Dropdown</a>
                                        <a class="dropdown-item dp-red" href="#">Dropdown</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2" style="padding-left: 0;padding-right: 0">
            <div class="information-card"></div>
        </div>


    </div>
</div>
</div>

<script>
    var $ = document.querySelector.bind(document);
    var ps = new PerfectScrollbar('#toscroll');
</script>


</body>
</html>