<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科学解释小组讨论工具</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/responsive-nav.css'/>
    <link rel='stylesheet' href='/stylesheets/perfect-scrollbar.css'/>
    <script src="javascripts/jquery-3.4.1.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/responsive-nav.js"></script>
    <script src="javascripts/perfect-scrollbar.js"></script>

</head>
<body>


<div class="navbar navbar-expand-lg bg-dark2">
    <h4 class="topalign">科学解释讨论工具</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <iframe src="html/balancing-act_zh_CN.html" width=100% height=600px scrolling="no" allowfullscreen></iframe>
        </div>
        <div class="col-md-7">
            <div class="chat" id="toscroll">
                <div class="chat-header">
                    <div class="chat-header-user"></div>
                </div>
                <div class="chat-body" tabindex="2">
                    <div class="messages">
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>
                        <div class="message-mine">
                            <div class="message-content">
                                Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.Hey, Maher! I'm waiting for you to send me the files.
                            </div>
                            <div class="message-time"></div>
                        </div>





                    </div>
                </div>
            </div>

        </div>





        </div>
    </div>
</div>

<script>
    var $ = document.querySelector.bind(document);
    var ps = new PerfectScrollbar('#toscroll');
</script>


</body>
</html>