<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科学解释小组讨论工具</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/perfect-scrollbar.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--<script src="javascripts/jquery-3.4.1.js"></script>-->
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/perfect-scrollbar.js"></script>
    <!--<script src="javascripts/bootstrap.min.js"></script>-->
</head>
<body>


<div class="navbar navbar-expand-lg bg-dark2 bg-primary">
    <h4 class="topalign">科学解释讨论工具</h4>
    <h5 class="topname">欢迎您，</h5>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">请输入用户名</h5>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
            </div>
            <div class="modal-body">
                <input class="form-control" id="loginTextarea"/>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" id="loginsubmit" data-dismiss="modal" disabled>保存</button>
            </div>
        </div>
    </div>
</div>


<div class="container" style="background-color: #f6f8fa">
    <div class="row">
        <div class="col-md-5" style="padding-left: 0">
            <iframe src="html/balancing-act_zh_CN.html" width=100% height=600px scrolling="no" allowfullscreen></iframe>
            <div class="nav-tip">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#task1">任务1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#task2">任务2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#task3">任务3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#task4">任务4</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show p-3 " id="task1">
                        <p>
                            沿着荷塘，是一条曲折的小煤屑路。这是一条幽僻的路；白天也少人走，夜晚更加寂寞。荷塘四面，长着许多树，蓊蓊郁郁的。路的一旁，是些杨柳，和一些不知道名字的树。没有月光的晚上，这路上阴森森的，有些怕人。今晚却很好，虽然月光也还是淡淡的。
                        </p>
                    </div>
                    <div class="tab-pane fade p-3" id="task2">
                        <p>
                            桃树、杏树、梨树，你不让我，我不让你，都开满了花赶趟儿。红的像火，粉的像霞，白的像雪。花里带着甜味，闭了眼，树上仿佛已经满是桃儿、杏儿、梨儿！花下成千成百的蜜蜂嗡嗡地闹着，大小的蝴蝶飞来飞去。野花遍地是：杂样儿，有名字的，没名字的，散在草丛里，像眼睛，像星星，还眨呀眨的。
                        </p>
                    </div>
                    <div class="tab-pane fade p-3" id="task3">
                        <p>
                            在峡谷之间的吊桥上，站在满月的光辉里，我们呼唤你上来，来看那高悬在天上的月光，你却微笑拒绝了。斜倚在吊桥的另一端，在山壁的暗处，你说：“我从这里看你们就好了，因为，你们就包含了月光。
                        </p>
                    </div>
                    <div class="tab-pane fade p-3" id="task4">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
                            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                            labore aesthetic magna delectus mollit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="chat">
                <div class="chat-header">
                    <div class="chat-header-user">
                        <!--<h2 style="color: #495057; line-height: 2.5; text-align: center">第XXX讨论组</h2>-->
                        <div class="alert alert-dismissible alert-danger" style="margin-top: 1rem">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>哎呀~你的回答已经被反驳很多次了，请仔细思考后再回答哦~</strong>
                        </div>
                    </div>
                </div>
                <div class="chat-body" id="toscroll">
                    <div class="messages">
                        <!--<div class="log">这是系统信息</div>-->
                        <!--<div class="message-mine">-->
                        <!--<div class="message-time">这里是我的id</div>-->
                        <!--<div class="message-content">-->
                        <!--你好！这里是我的讨论内容。你好！这里是我的讨论内容。你好！这里是我的讨论内容。你好！这里是我的讨论内容。-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="message-others">-->
                        <!--<div class="message-time">这里是他人的id</div>-->
                        <!--<div class="message-content">-->
                        <!--这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！这里是别人的讨论内容。哈哈哈！-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="newtip">
                    <div class="newtip-content">
                        <a href="#">有新消息↓</a>
                    </div>
                </div>
                <div class="chat-footer">
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">发表观点
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1"
                                         x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                        <a class="dropdown-item" href="#">Dropdown</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">赞成
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2"
                                         x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a class="dropdown-item dp-green" href="#">Dropdown</a>
                                        <a class="dropdown-item dp-green" href="#">Dropdown</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop3" type="button" class="btn btn-danger dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">反驳
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3"
                                         x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                        <a class="dropdown-item dp-red" href="#">Dropdown</a>
                                        <a class="dropdown-item dp-red" href="#">Dropdown</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-auto" style="width: 100%; margin-top: 16px">
                            <div class="form-group">
                                <input class="form-control" id="exampleTextarea"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2" style="padding-left: 0;padding-right: 0">
            <div class="information-card">
                <div class="information-card online-num">
                    <h5 style="color: #495057" id="online-number">123</h5>
                </div>
                <div class="information-card online-people" id="user-container">
                    <div class="list-group" id="user-list">
                        <!--在线用户信息条-->
                        <!--<div class="py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">-->
                        <!--<img class="rounded-circle align-self-start mt-2" src="/images/User.png" alt="UserAdmin"-->
                        <!--aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">-->
                        <!--<span class="contact-status-online"></span>-->
                        <!--<div class="w-100 text-truncate ml-2 my-2">-->
                        <!--<div class="text-truncate">Username</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>


            </div>
            <div class="summary-info">
                <div class="nav-tip">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#summary1">讨论过程</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#summary2">个人记录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#summary3">最终报告</a>
                        </li>
                    </ul>
                    <div id="myTabContent2" class="tab-content">
                        <div class="tab-pane fade active show" id="summary1">
                            <!--<p>-->
                            <!--沿着荷塘，是一条曲折的小煤屑路。这是一条幽僻的路；白天也少人走，夜晚更加寂寞。荷塘四面，长着许多树，蓊蓊郁郁的。路的一旁，是些杨柳，和一些不知道名字的树。没有月光的晚上，这路上阴森森的，有些怕人。今晚却很好，虽然月光也还是淡淡的。-->
                            <!--</p>-->
                            <div class="list-group" id="user-interact">
                                <!--用户交互-->
                                <div class="d-flex flex-row interact-disagree p-2">
                                    <div class="w-100 mt-0 py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">
                                        <img class="rounded-circle align-self-start mt-2" src="/images/User.png"
                                             alt="UserAdmin"
                                             aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">
                                        <span class="contact-status-online"></span>
                                        <div class="w-auto text-truncate ml-2 my-2">
                                            <div class="text-truncate">学生A</div>
                                        </div>
                                    </div>

                                    <div class="m-2 text-truncate w-50">
                                        <div class="text-center mt-2">反驳</div>
                                    </div>

                                    <div class="w-100 mt-0 py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">
                                        <img class="rounded-circle align-self-start mt-2" src="/images/User.png"
                                             alt="UserAdmin"
                                             aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">
                                        <span class="contact-status-online"></span>
                                        <div class="w-auto text-truncate ml-2 my-2">
                                            <div class="text-truncate">学生C</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row interact-agree p-2">
                                    <div class="w-100 mt-0 py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">
                                        <img class="rounded-circle align-self-start mt-2" src="/images/User.png"
                                             alt="UserAdmin"
                                             aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">
                                        <span class="contact-status-online"></span>
                                        <div class="w-auto text-truncate ml-2 my-2">
                                            <div class="text-truncate">学生C</div>
                                        </div>
                                    </div>

                                    <div class="m-2 text-truncate w-50">
                                        <div class="text-center mt-2">赞成</div>
                                    </div>

                                    <div class="w-100 mt-0 py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">
                                        <img class="rounded-circle align-self-start mt-2" src="/images/User.png"
                                             alt="UserAdmin"
                                             aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">
                                        <span class="contact-status-online"></span>
                                        <div class="w-auto text-truncate ml-2 my-2">
                                            <div class="text-truncate">学生A</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row interact-disagree p-2">
                                    <div class="w-100 mt-0 py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">
                                        <img class="rounded-circle align-self-start mt-2" src="/images/User.png"
                                             alt="UserAdmin"
                                             aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">
                                        <span class="contact-status-online"></span>
                                        <div class="w-auto text-truncate ml-2 my-2">
                                            <div class="text-truncate">学生B</div>
                                        </div>
                                    </div>

                                    <div class="m-2 text-truncate w-50">
                                        <div class="text-center mt-2">反驳</div>
                                    </div>

                                    <div class="w-100 mt-0 py-0 px-2 d-flex list-group-item list-group-item-action align-items-center single-usercard">
                                        <img class="rounded-circle align-self-start mt-2" src="/images/User.png"
                                             alt="UserAdmin"
                                             aria-hidden="true" style="height: 38px; margin-bottom: 0.5rem">
                                        <span class="contact-status-online"></span>
                                        <div class="w-auto text-truncate ml-2 my-2">
                                            <div class="text-truncate">学生C</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade p-3" id="summary2">
                            <p>
                                桃树、杏树、梨树，你不让我，我不让你，都开满了花赶趟儿。红的像火，粉的像霞，白的像雪。花里带着甜味，闭了眼，树上仿佛已经满是桃儿、杏儿、梨儿！花下成千成百的蜜蜂嗡嗡地闹着，大小的蝴蝶飞来飞去。野花遍地是：杂样儿，有名字的，没名字的，散在草丛里，像眼睛，像星星，还眨呀眨的。
                            </p>
                        </div>
                        <div class="tab-pane fade p-3" id="summary3">
                            <p>
                                在峡谷之间的吊桥上，站在满月的光辉里，我们呼唤你上来，来看那高悬在天上的月光，你却微笑拒绝了。斜倚在吊桥的另一端，在山壁的暗处，你说：“我从这里看你们就好了，因为，你们就包含了月光。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var $ = document.querySelector.bind(document);
    var ps = new PerfectScrollbar
    ('#toscroll', {
        // wheelPropagation: true,
    });
    var ps2 = new PerfectScrollbar
    ('#user-container', {});
</script>
<script src="javascripts/jquery-3.4.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>