.navbar .topalign{
  /*margin-left: auto;*/
  /*margin-right: auto;*/
    color: #ffffff;
}
.bg-dark2{
    background-color: #343a40 !important;
}

.container .row .autowidth{
    width: auto;
}

.chat .chat-body{
    position: relative;
    overflow: auto;
    outline: none;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: 500px;
    width: 100%;
}

.chat .chat-body .messages{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
    box-sizing: border-box;
}


.chat .chat-body .messages .message-mine{
    margin-left: auto;
    max-width: 75%;
    margin-bottom: 20px;
}

.chat .chat-body .messages .message-mine .message-content{
    background-color: #cdcdcd;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}