.navbar .topalign{
  /*margin-left: auto;*/
  /*margin-right: auto;*/
    color: #ffffff;
    margin-bottom: 0;
}

.navbar .topname{
    margin-left: auto;
    /*margin-right: auto;*/
    color: #ffffff;
    margin-bottom: 0;
}


.bg-dark2{
    background-color: #343a40 !important;
}

.container .row .autowidth{
    width: auto;
}

.chat{
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #f6f8fa;
    border-radius: 0.25rem;
    padding: 1rem;
}

.chat .chat-header{
    position: relative;
    overflow: hidden;
    outline: none;
    /*padding: 1rem;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
    /*background-color: #f6f8fa;*/
    /*border-radius: 0.25rem;*/
    height: 98px;
    width: 100%;
}

.chat .chat-body{
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 1.25rem;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.125);*/
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
    /*background-color: #f6f8fa;*/
    /*border-radius: 0.25rem;*/
    height: 500px;
    width: 100%;
}

.chat .chat-body .messages{
    display: flex;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    flex-direction: column;
    /*-webkit-box-align: start;*/
    /*align-items: flex-start;*/
    /*box-sizing: border-box;*/
}


.chat .chat-body .messages .message-mine{
    margin-left: auto;
    max-width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chat .chat-body .messages .message-others{
    margin-right: auto;
    max-width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chat .chat-body .messages .message-mine .message-content{
    background-color: #cdcdcd;
    border-radius: 5px;
    padding: 10px 20px;
    width:fit-content;
    width:-moz-fit-content;
    margin-left: auto;
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*width: auto;*/
}

.chat .chat-body .messages .message-others .message-content{
    background-color: #cdcdcd;
    border-radius: 5px;
    padding: 10px 20px;
    /*box-sizing: border-box;*/
}

.chat .chat-body .messages .message-mine .message-time{
    border-radius: 5px;
    padding: 3px 0;
    text-align: right;
    font-size: 16px;
}

.chat .chat-body .messages .message-others .message-time{
    border-radius: 5px;
    padding: 3px 0;
    text-align: left;
    font-size: 16px;
}

.information-card{
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #f6f8fa;
    border-radius: 0.25rem;
    height: 500px;
    width: 100%;
}

.chat .chat-footer{
    position: relative;
    overflow: visible;
    outline: none;
    padding: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    /*background-color: #f6f8fa;*/
    /*border-radius: 0.25rem;*/
    height: 200px;
    width: 100%;
}

/*.dropdown-item2 .dropdown-item3 .dropdown-item4 {*/
    /*display: block;*/
    /*width: 100%;*/
    /*padding: 0.25rem 1.5rem;*/
    /*clear: both;*/
    /*font-weight: 400;*/
    /*color: #495057;*/
    /*text-align: inherit;*/
    /*white-space: nowrap;*/
    /*background-color: transparent;*/
    /*border: 0;*/
/*}*/

.dp-green:hover, .dp-green:focus, .dp-green.active, .dp-green:active {
    color: #fff;
    text-decoration: none;
    background-color: #73A839;
}

.dp-red:hover, .dp-red:focus, .dp-red.active, .dp-red:active {
    color: #fff;
    text-decoration: none;
    background-color: #C71C22;
}

.log {
    margin: 0 auto;
    color: gray;
    font-size: 16px;
}
.newtip{
    /*position: absolute;*/
    /*float: left;*/
    /*display: flex;*/
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    width: 50%;
    margin: 0 auto;
    /*left: 50%;*/
    /*right: 50%;*/
}

.newtip-content{
    margin: 0 auto;
    color: gray;
    font-size: 18px;
}